$gray: #CED6E0;
$mainFont: 'PT Sans', sans-serif;
$paragraphFont: Arial, Helvetica, sans-serif;

.grayWedge{
    height: 16px;
    width: 150px;
    background-color: $gray;
    margin: auto auto;
}

footer{
    background-color: $gray;
    padding: 83px 83px;
    text-align: center;

    a{
        font-family: $mainFont;
        font-size: 18px;
        font-weight: bold;
        color: black;

        &:hover{
            color: black !important;
        }
    }
}