$mainFont: 'PT Sans', sans-serif;
$paragraphFont: Arial, Helvetica, sans-serif;

.popularBrands{
    background-color: #0097E6;
    height: 89px;
    font-family: $mainFont;

    h3{
        font-size: 18px;
        color: white;
        text-align: center;
        margin-top: 14px;
        font-weight: bold;
        letter-spacing: 0.4px;
    }

    h4{
        font-size: 16px;
        font-family: $paragraphFont;
        text-align: center;
        color: white;
        margin-top: 13px;
        font-weight: 300;
    }
}

.secondSection{
    margin: 80px 80px;

    .informationBox{
        background-color: #CED6E0;
        height: 385px;
        width: 259px;
        margin-left: auto;
        margin-right: auto;
        overflow: auto;

        .circle{
            background-color: #0097E6;
            height: 216px;
            width: 216px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 180px;
            margin-top: 26px;
            text-align: center;
            
            i{
                color: white;
                font-size: 120px;
                padding-top: 44px;
            }
        }

        .textContainer{
            width: 155px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 70px;

            h4{
                font-size: 18px;
                font-family: $mainFont;
                font-weight: bold;
                text-align: center;
            }
        }

        .submitButton{
            background-color: #FFA502;
            text-align: center;
            width: 151px;
            margin-top: 20px;
            height: 42px;
            padding-top: 9px;
            border-radius: 4px;
            margin-left: auto;
            margin-right: auto;
            font-family: $mainFont;
            font-weight: bold;
        }
    }
}

.blackWedge{
    height: 16px;
    width: 150px;
    background-color: #000000;
    margin: auto auto;
}

.thirdSection{
    background:linear-gradient(0deg,rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url(public/images/speedDial.jpg);
    background-size:cover;

    .container{
        padding: 75px 120px;
        
        .textContainer{
            text-align: center;
            max-width: 500px;
            margin: auto auto;
            color: white;

            h3{
                font-family: $mainFont;
                font-size: 21px;
                padding-bottom: 22px;
            }

            p{
                font-family: $paragraphFont;
                font-size: 18px;
            }
        }
    }
}

.fourthSection{
    padding: 90px 97px;

    .visitUs{
        padding-top: 60px;

        h3{
            font-size: 21px;
            font-family: $mainFont;
            font-weight: bold;
            padding-bottom: 35px;
        }

        p{
            font-size: 18px;
        }
    }

    .iframeContainer{
        padding-top: 55%;

        iframe{
            height: 364px;
        }
    }
}