$mainFont: 'PT Sans', sans-serif;
$paragraphFont: Arial, Helvetica, sans-serif;

// Scss For The About Page
.aboutInfo{
    margin-top: 62px;

    p{
        padding-top: 76px;
        max-width: 437px;
        font-family: $paragraphFont;
        font-size: 16px;
        line-height: 19px;
    }

    img{
        float: right;
        border: 2px solid black;
        max-width: 472px;
        height: auto;
        width: 100%;
    }

    .textAlignRight{
        float: right;
    }
}

// Scss For The Cars Page
.searchBox{
    form{
        margin-left: auto;
        margin-right: auto;
        font-family: $mainFont;
        padding: 42px;
        background-color: #CED6E0;

        input{
            border: 4px solid #0097E6;
            width: 100%;
            height: 50px;
            padding-left: 10px;
            font-size: 18px;
            margin-bottom: 26px;

            ::placeholder{
                color: #6E6E6E;
            }
        }

        textarea{
            border: 4px solid #0097E6;
            width: 100%;
            font-size: 18px;
            margin-bottom: 26px;
            padding-left: 10px;
        }

        button{
            background-color: #0097E6;
            border: 0px;
            color: white;
            height: 50px;
            width: 100%;
        }
    }
}

.cars{
    .topRow{
        background-color: #CED6E0;
        margin-top: 42px;
        box-sizing: border-box;
        padding: 42px 42px 30px 42px;

        img{
            border: 2px solid black;
            max-width: 250px;
            height: auto;
            width: 100%;
        }

        h3{
            font-family: $mainFont;
            font-size: 21px;
            font-weight: bold;
        }

        h4{
            font-family: $mainFont;
            font-size: 21px;
            font-weight: bold;
            text-align: right;
            padding-right: 25px;
        }

        .firstRow{
            margin-top: 28px;
        }

        .secondRow{
            margin-top: 27px;
        }

        a{
            margin-top: 15px;
            font-family: $mainFont;
            font-size: 21px;

            .loadCarButton{
                background-color: #0097E6;
                text-align: center;
                margin-top: 32px;
                height: 44px;
                width: 100%;
                border: none;
                color: white;
            }
        }
    }
}


// Scss for individual car information
.individualCars{
    margin-top: 70px;

    img{
        border: 2px solid black;
        height: auto;
        width: 100%;
        margin-bottom: 10px;
    }

    .individualStat{
        margin-left : auto;
        margin-bottom: 30px;
    }
}

.individualStat{
    height: 40px;
    width: 170px;
    margin-right: -1px;

    .iconContiner{
        background-color: #0097E6;
        width: 40px;
        height: 40px;

        i{
            color: white;
            font-size: 25px;
            padding-top: 4px;
            padding-left: 6px;
        }

        .fa-car{
            padding-left: 7px;
        }

        .fa-gas-pump{
            padding-left: 8px;
        }
    }
    .col-sm-8{
        background-color: black;
        margin-left: -2px;

        p{
            color: white;
            font-family: $mainFont;
            font-weight: bold;
            text-align: center;
            padding-top: 8px;
        }
    }
}

// Scss for Individual Car Tabs
.individualCarInformation{
    margin-top: 60px;

    .nav-tabs{
        border: 0px;
    }

    .nav-tabs .nav-link{
        border-radius: 0px;
        border: 0px;
    }

    .nav-link{
        font-family: $mainFont;
        font-weight: bold;
        color: white;
        padding: 20px 30px 20px 30px;
        background-color: #0097E6;
    }

    .nav-item{
        .active{
            background-color: #CED6E0;
            color: black;
        }
    }

    .tab-content{
        background-color: #CED6E0;
        padding: 20px;
        margin-bottom: 100px;
        font-family: $mainFont;
        font-weight: bold;
    }

    .imageRow{
        display: flex;
    }

    .img-responsive{
        width: 200px;
        border: 2px solid black;
        align-self: center;
        margin-left: 20px;
    }
}

// Contact Page
.contact, .signIn{
    margin-top: 70px;

    form{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        font-family: $mainFont;

        input{
            border: 4px solid #0097E6;
            width: 100%;
            height: 50px;
            padding-left: 10px;
            font-size: 18px;
            margin-bottom: 26px;

            ::placeholder{
                color: #6E6E6E;
            }
        }

        textarea{
            border: 4px solid #0097E6;
            width: 100%;
            font-size: 18px;
            margin-bottom: 26px;
            padding-left: 10px;
        }

        button{
            background-color: #0097E6;
            border: 0px;
            color: white;
            height: 50px;
            width: 100%;
        }
    }
}

//https://benmarshall.me/responsive-iframes/ code from
.iframeContainer {
    overflow: hidden;
    padding-top: 95%;
    position: relative;
}
   
.iframeContainer iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.contactInfo{
    text-align: center;
    font-family: $mainFont;
    margin: 100px 130px;

    h3{
        font-size: 21px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    p{
        font-family: $paragraphFont;
        font-size: 18px;
    }
}

// Sign In Form
.signIn{
    form{
        max-width: 350px;
        margin: 170px auto 215px auto;

        button{
            margin-bottom: 26px;

            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}

// User Signed In Form
.carsStared{
    margin-top: 300px;
    margin-bottom: 300px;
    text-align: center;

    h3{
        font-family: $mainFont;
        font-size: 21px;
        font-weight: bold;
        padding-bottom: 40px;
    }

    h5{
        font-family: $paragraphFont;
        font-size: 18px;
    }
}

// Admin Signed In Page
.carsForSale{
    max-width: 910px;
    background-color: #0097E6;
    margin-left: auto;
    margin-right: auto;
    min-height: 60px;
    margin-bottom: 24px;

    h5{
        color: white;
        font-size: 24px;
        padding-top: 16px;
        font-weight: bold;
    }

    button{
        color: black;
        background-color: white;
        padding: 8px 8px;
        margin-left: auto;
        margin-top: 10px;
        border: 0px;
        width: 138px;
        float: right;
    }

    #secondButton{
        background-color: #FFA502;
        color: white;
    }
}


.adminAddNew{
    margin-left: auto;
    margin-right: auto;
    width: 910px;
    font-family: $mainFont;
    margin-top: 25px;
    text-align: center;

    input{
        border: 4px solid #0097E6;
        width: 100%;
        height: 50px;
        padding-left: 10px;
        font-size: 18px;
        margin-bottom: 14px;

        ::placeholder{
            color: #6E6E6E;
        }
    }

    .halfWidth{
        width: 48%;
        float: left;
    }

    .halfWidthRight{
        width: 48%;
        float: right;
    }

    textarea{
        border: 4px solid #0097E6;
        width: 100%;
        font-size: 18px;
        margin-bottom: 26px;
        padding-left: 10px;
    }

    .imageRow{
        width: 100%;
        margin-bottom: 100px;

        img{
            border: 4px solid #0097E6;
            width: 33%;
            margin-left: 15px;
        }

        .addNewImage{
            border: 4px solid #0097E6;
            width: 33%;
            margin-left: 15px;
            background-color: white;

            i{
                font-size: 80px;
                padding: 55px 0px 0px 0px;
            }
        }
    }

    button{
        background-color: #FFA502;
        border: 0px;
        color: white;
        height: 38px;
        width: 138px;
    }
}
